.modalBackdrop {
    align-items: center;
    background-color: var(--backdrop);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.modal {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
    min-width: 300px;
    padding: 15px;
}

.modalHeader {
    font-size: 16px;
    text-align: center;
}

.modalContent {
    position: relative;
}