.headerElement {
    align-items: center;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    justify-content: space-between;
    margin: 0 -50px;
    padding: 5px 50px;
    position: sticky;
    top: 0;
}

.navigation {
    align-items: center;
    display: flex;
}

.headerIcon {
    height: 40px;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .hamburgerButtonWrapper {
        display: none
    }
}