.isActive {
    border-bottom: 2px solid var(--secondary);
    color: var(--black);
}

.navLink {
    color: var(--black);
    text-decoration: none;
}

.navLink:hover {
    border-bottom: 2px solid var(--secondary);
}

.unorderedList {
    display: flex;
    list-style: none;
    margin: 0;
}

.listItem {
    margin: 15px 20px;
}

.columnAlign {
    flex-direction: column;
}