.takeOverSidebar {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 1;
    padding: 10px;
    width: 200px;
}

.takeOverSidebarWrapper {
    background-color: var(--grey);
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: fixed;
    top: 50px;
    width: 100%;
}