.movieListContainer {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 40px;
  }

@media (min-width: 576px) { .movieListContainer {
  grid-template-columns: repeat(2, 1fr);
}}


@media (min-width: 768px) { .movieListContainer {
  grid-template-columns: repeat(3, 1fr);
}}


@media (min-width: 992px) { .movieListContainer {
  grid-template-columns: repeat(5, 1fr);
}}


@media (min-width: 1200px) { .movieListContainer {
  grid-template-columns: repeat(6, 1fr);
} }